.link-menu {
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

.link-menu > * > * {
  &.MuiTypography-root {
    color: #000000;
  }
}

.link-menu.active {
  background: #242222;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}