/* You can add global styles to this file, and also import other style files */
@import './tailwind-config.css';
@import './styles/variables';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0C111D;
  font-family: 'Verdana';
  color: $accent-color;
}