[submodule "RDIPs-Gateway/RDIPs-Gateway/dependencies/AMQP-CPP"]
	path = RDIPs-Gateway/RDIPs-Gateway/dependencies/AMQP-CPP
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP
[submodule "RDIPs-Gateway/dependencies"]
	path = RDIPs-Gateway/dependencies
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP
[submodule "RDIPs-Gateway/dependencies/AMQP-CPP"]
	path = RDIPs-Gateway/dependencies/AMQP-CPP
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP
[submodule "RDIPs-Gateway/dependencies/json"]
	path = RDIPs-Gateway/dependencies/json
	url = https://github.com/nlohmann/json
[submodule "RDIPs-Scheduler/Javascript-Practice"]
	path = RDIPs-Scheduler/Javascript-Practice
	url = https://github.com/chetannada/Javascript-Practice
[submodule "RDIPs-Scheduler/javascript-algorithms-and-data-structures"]
	path = RDIPs-Scheduler/javascript-algorithms-and-data-structures
	url = https://github.com/Annahcj/javascript-algorithms-and-data-structures
