[submodule "RDIPs-Broker/RDIPs-Broker/dependencies/AMQP-CPP"]
	path = RDIPs-Broker/RDIPs-Broker/dependencies/AMQP-CPP
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP
[submodule "RDIPs-Broker/dependencies"]
	path = RDIPs-Broker/dependencies
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP
[submodule "RDIPs-Broker/dependencies/AMQP-CPP"]
	path = RDIPs-Broker/dependencies/AMQP-CPP
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP
