@import "../../styles/variables";
.home-container {
  app-navigation {
    width: 20%;
  }

  .dashboard-area {
    gap: 10px;
    padding: 24px;
    width: 100%;
    .card-container {
      display: flex;
      gap: 24px;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }

      .card-detail {
        width: 33%;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }
    }

    .home-device-list {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      width: 100%;
      .home-device-chart-left {
        width: 66%;
        border-radius: 10px;
        border: 1px solid $border-grey-color;
        .home-activity {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $border-grey-color;
          padding: 30px 30px;
          font-size: $font-size-sm;
          font-weight: $font-weight-medium;
          gap: 10px;
          text-decoration: none;

          .home-activity_left {
            display: flex;
            gap: 15px;
            justify-content: center;
            align-items: center;

            &:hover {
              cursor: pointer;
            }

            .home-avt-box {
              width: 56px;
              height: 56px;
              background-image: url("/assets/icons/avatar.svg");
              border: 1px solid $border-grey-color;
              border-radius: 50%;
            }

            .home-chart-act-title {
              .act-title {
                margin-bottom: 5px;
                font-size: $font-size-md;
                font-weight: $font-weight-medium;
              }

              .act-description {
                font-size: $font-size-sm;
                color: $text-small-color;
                font-weight: $font-weight-regular;
              }
            }
          }

          .home-activity_right {
            .three-dot-icon {
              width: 20px;
              height: 20px;
              background-image: url("/assets/icons/three-dots.svg");

              &:hover {
                background-color: $accent-color-hover;
                cursor: pointer;
              }
            }
          }
        }

        .home-bar-chart {
          padding: 20px;
        }
      }
      .home-device-chart-right {
      }
    }
  }
}
