.footer-container {
  position: relative;
  left: 0;
  bottom: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #2C2C2C;
  
  .link-item {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #2C2C2C;
  }
}