@use "../../styles/variables" as *;
.devices-container {
  height: 100vh;
  app-navigation {
    width: 20%;
    height: 100%;
  }

  .devices-area {
    gap: 10px;
    padding: 24px;
    left: 17rem;
    width: 75%;
    position: relative;

    @media screen and (max-width: $screen-small) {
      left: 0;
      width: 100%;
    }
    .home-body {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .card-container {
        display: flex;
        gap: 24px;
        height: max-content;
        @media screen and (max-width: $screen-medium) {
          flex-direction: column;
        }

        .card-detail {
          width: 33%;
          @media screen and (max-width: $screen-medium) {
            width: 100%;
          }
        }
      }

      .device-banner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .add-device-button {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          color: rgba(245, 245, 246, 1);
          background-color: rgba(127, 86, 217, 1);
          border-radius: 10px;
          border: 0px;
          width: max-content;
          padding: 10px 20px;
          height: 40px;
          cursor: pointer;

          .add-device-icon {
            background-image: url("/assets/icons/plus-white.svg");
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
