// Colors
$primary-color: #0C111D;
$secondary-color: white;
$accent-color: #F5F5F6;
$accent-color-hover: #1F242F;
$text-small-color: #94969c;
$border-grey-color: #1f242f;

// Sizes
$navigation-width: 12rem;
$content-width: 48rem;

// Font sizes
$font-size-xs: 0.8rem;
$font-size-sm: 0.9rem;
$font-size-md: 1rem;
$font-size-lg: 1.2rem;

//font-weight:
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;