.banner-three {
  display: flex;
  /* align-items: center;
    justify-content: center; */
  height: 170vh;
}

.container {
  position: relative;
  width: 25em;
}

.sun-light {
  /* background: url("../../assets/yellow-background.png"); */
  width: 200%;
  height: 100%;
  /* height: %; */
  /* position: relative; */
  /* top: 0; */
  opacity: 0.7;
}

/* .yellowB{
  top: 0;
} */
.solar-device {
  height: 256px;
  position: fixed;
  left: 70%;

}

.solar-device-2{
  position: relative;
}
/* solar-device {
  height: 256px;
  position: fixed;
  left: 50%;
} */

.wire{
  margin-left: 450px;
  position: absolute;
  /* top: 1200px; */
  opacity: 0.3;
}

.yellow-background{
  height: 500px;
  background-color: rgb(235, 235, 15);
  position: relative;
  top: 1100px
}