<div class="home-device-list">
  <div class="home-device-chart-left border-rounded">
    <div class="home-activity upper-box">
      <div class="upper-box_left">
        <div class="home-avt-box-out">
          <div class="home-avt-box"></div>
        </div>
        <div class="home-chart-act-title">
          <div class="act-title">
            {{ "labels.home.chart.activity.title" | translate }}
          </div>
          <div class="act-description">
            {{ "labels.home.chart.activity.description" | translate }}
          </div>
        </div>
      </div>
      <div class="upper-box_right">
        <div class="three-dot-icon"></div>
      </div>
    </div>
    <div class="home-bar-chart">
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
  <div class="home-device-chart-right border-rounded">
    <div class="upper-box">
      <div class="upper-box_left">
        <div class="home-chart-act-title">
          <div class="act-title">
            {{ "labels.home.chart.timeActivity.title" | translate }}
          </div>
          <div class="act-description">
            {{ "labels.home.chart.timeActivity.description" | translate }}
          </div>
        </div>
      </div>
      <div class="upper-box_right">
        <div class="three-dot-icon"></div>
      </div>
    </div>
  </div>
</div>
