<div class="home-device-list">
  <div class="home-device-chart-left border-rounded">
    <div class="home-activity upper-box">
      <div class="upper-box_left">
        <div class="home-avt-box-out">
          <div class="home-avt-box"></div>
        </div>
        <div class="home-chart-act-title">
          <app-text-group
            [title]="'labels.home.chart.activity.title'"
            [description]="'labels.home.chart.activity.description'"
          ></app-text-group>
        </div>
      </div>
      <div class="upper-box_right">
        <div class="three-dot-icon"></div>
      </div>
    </div>
    <div class="home-bar-chart">
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
  <div class="home-device-chart-right border-rounded">
    <div class="upper-box">
      <div class="upper-box_left">
        <div class="home-chart-act-title">
          <app-text-group
            [title]="'labels.home.chart.timeActivity.title'"
            [description]="'labels.home.chart.timeActivity.description'"
          ></app-text-group>
        </div>
      </div>
      <div class="upper-box_right">
        <div class="three-dot-icon"></div>
      </div>
    </div>
    <div class="pin-remaining">
      <div class="battery-status-container">
        <div class="circular-progress">
          <div class="progress-circle">
            <img src="/assets/images/progress_circle.svg" alt="battery icon" class="battery-icon">
          </div>
          <div class="battery-drain-indicator">
            <img src="/assets/icons/trend-up.svg" alt="trend up" class="drain-icon">
            <span class="drain-text">{{'labels.battery.drainText' | translate }}</span>
          </div>
        </div>
        <div class="battery-description">
          <h3 class="battery-title">{{ 'labels.battery.maintenanceTitle' | translate }}</h3>
          <p class="battery-detail">
            {{ 'labels.battery.maintenanceDetail' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
