.banner-one {
  display: flex;
  /* flex-flow: row wrap; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: pink;
}

.container {
  position: relative;
  width: 25em;
}