.btn {
  padding: 8px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;

  &.MuiButton-root {
    text-transform: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border-radius: 15px;
  }
  &.MuiButton-root:hover {
    opacity: 0.5;
  }
}

.btn--login {
  &.MuiButton-root, &.MuiButton-root:hover {
    background: #000000;
    color: #FFFFFF;
  }
}

.btn--register {
  &.MuiButton-root, &.MuiButton-root:hover {
    color: #000000;
  }
}

.btn--small {
  font-size: 12px;
}

