.btn {
  padding: 8px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;

  &.MuiButton-root {
    text-transform: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border-radius: 15px;
  }

  &.MuiButton-root:hover {
    opacity: 0.5;
  }
}

.btn--login {

  &.MuiButton-root,
  &.MuiButton-root:hover {
    background: #000000;
    color: #ffffff;
  }
}

.btn--register {

  &.MuiButton-root,
  &.MuiButton-root:hover {
    color: #25205B;
  }
}

.btn--small {
  font-size: 12px;
}

.add-button {
  width: 112px;
  height: 38px;
  padding: 8px;

  &.MuiButton-root,
  &.MuiButton-root:hover {
    border-radius: 10px;
    background: var(--blue-25205-b, #25205B);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-ffffff, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}