.breakcrumb-container {
  padding-bottom: 24px;;
  .breakcrumb-big {
    color: var(--blue-25205-b, #25205B);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px; 
  }

  .breakcrumb-small {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    .underline:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .font-grey {
    color: var(--light-text-secondary, rgba(0, 0, 0, 0.6));
  }

  .w-max {
    width: max-content;
  }
}
